#profile{
    color: #e8e6e3!important;
}
.profile {
    margin: 15px;

}

.profile div h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(255, 121, 170);
}


@media (max-width: 576px) {


    .profile .MuiBox-root {
        padding-bottom: 0px;
    }
    
}