.left-card {
    padding-left: 10px;
    padding-right: 10px;
}

.left-card h1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: azure;
}

.left-card div {
    color: azure;
    text-align: left;
}

.left-card a {
    color: azure;
}

@media (max-width: 576px) {

    .left-card {
        background-color: #FFF;
        color: rgba(0, 0, 0, 0.6) !important;
    }

    .left-card div,
    .left-card h1,
    .left-card a {
        color: rgba(0, 0, 0, 0.6) !important;
    }
}