#stack-card, .css-1w6wz2d
{
    color: #e8e6e3!important;
}
.stack-card {
    margin: 15px;

}

.stack div h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(255, 121, 170);
}


@media (max-width: 576px) {


    .stack .MuiBox-root {
        padding-bottom: 0px;
    }
    
}