#contact-card {
    font-size: 12px;
    color: rgb(232, 230, 227) !important;
    margin-bottom: 20px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 121, 170);
}

#contact-card a:link {
    color: rgb(113, 233, 253);
    background-color: transparent;
    text-decoration: none;
}

#contact-card a:visited {
    color: rgb(113, 233, 253);
    background-color: transparent;
    text-decoration: none;
}

#contact-card a:hover {
    color: rgb(255, 121, 170);
    background-color: transparent;
    text-decoration: underline;
}

.qr-code{
    width: 90px;
    height: 90px 
}

@media (max-width: 900px) {
    .qr-code{
        width: 140px;
        height: 140px 
    } 
}

@media (max-width: 576px) {
    .qr-code{
        width: 200px;
        height: 200px 
    } 
}