body {
    margin: 0;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: #ffffff;
}

h1 {
    color: #165a72;
    font-size: 20px;
}

h2 {
    color: #165a72;
}
#root .MuiGrid-grid-sm-3{
    background-color: #044250;
}
#web{
    display: flex;
}
#movile{
    display: none;
}

@media (max-width: 576px) {

    #root .MuiGrid-grid-sm-3 {
        
        width: 100%;
    }
    #web{
        display: none;
    }
    #movile{
        display: block;
    }
  }