.right-panel {
    margin-left: 10px;
    margin-right: 10px;
}

.message {
    font-style: italic;
    text-align: right;
}

.statement {
    text-align: center;
}


@media (max-width: 576px) {
    .right-panel h5{
        margin: 0px;
    }
    .right-panel {
        padding: 10px;
    }

}
